@import url(./fonts.css);
.page {
  background-image: url(./images/flowers.png);
  background-size: contain;
  height: 50px;
  margin: 0;
  font-family: 'inter';
}
.underscore {
  text-decoration: underline;
  color: black;
  font-size: 25px;
  font-family: 'inter';
}

.link {
  font-family: 'inter';
  padding: 0;
  text-decoration: none;
  color: black;
  font-size: 25px;
}
@media screen and (max-width: 770px) {
  .link {
    font-size: 3vw;
  }
}

@media screen and (max-width: 770px) {
  .underscore {
    font-size: 3vw;
  }
}
.page__container {
  width: 80vw;
  min-height: 100vh;
  background-color: wheat;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  height: 4vw;
  background-color: white;
  margin: 0 auto;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1314px) {
  .about {
    padding-top: 6vw;
  }
}
.about__title {
  font-family: 'ClimateCrisis-Regular', Arial, sans-serif;
  font-style: normal;
  font-size: 10vw;
  position: absolute;
  z-index: 3;
  opacity: 0.5;
  margin: 0;
  margin-top: 20vw;
}

.about__main {
  position: absolute;
  display: flex;
  width: 70%;
  height: 20vw;
  justify-content: space-between;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photo {
  width: 25vw;
}

.about__photo {
  --borderWidth: 6px;
  position: relative;
  border-radius: var(--borderWidth);
  z-index: 2;
}
.about__photo:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(45deg, #fdf14d, #9e62e7);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bio-container {
  width: 90%;
  margin: 50px auto 0;
}

.section__title {
  font-size: 50px;
  font-weight: 900;
}
@media screen and (max-width: 516px) {
  .section__title {
    font-size: 25px;
    font-weight: 900;
  }
}

.section__description {
  max-width: 50vw;
}
@media screen and (max-width: 700px) {
  .section__description {
    min-width: 70vw;
  }
}
.family {
  padding-bottom: 20px;
}

.photo__grid {
  padding-top: 5vw;
  padding-bottom: 1vw;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.photo__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 861px) {
  .photo__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media screen and (max-width: 565px) {
  .photo__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}

.friends {
  padding-top: 80px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: calc(100% - 4vw);
  display: grid;
  grid-template-rows: repeat(3, 350px);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
}
@media screen and (max-width: 890px) {
  .friends {
    padding-top: 5vw;
    grid-template-rows: repeat(4, 350px);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .friends {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
  }
}
.friend {
  padding-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 449px) {
  .friend {
    padding-bottom: 45px;
  }
}

.friend__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friend__name {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.no-add {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.no-add__text {
  text-align: center;
  margin: 0;
  padding-bottom: 100px;
}

.no-add__button {
  width: 100px;
  height: 50px;
}

.popup {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.popup__opened {
  display: flex;
}

.popup__container {
  background-color: #fdf14d;
  border-radius: 30px;
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 1121px) {
  .popup__container {
    width: 25%;
  }
}
@media screen and (max-width: 844px) {
  .popup__container {
    width: 40%;
  }
}
@media screen and (max-width: 578px) {
  .popup__container {
    width: 60%;
  }
}
.popup__input {
  width: 50%;
  margin-bottom: 10px;
}

.popup__functions {
  margin-bottom: 10px;
}
